@import '../../assets/scss/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.header--cnt {
    background-color: $color-1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 80px;
}

.header--title {
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
    &.header--title-bold {
        font-weight: 700;
    }
}

.header--list {
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.header--copy {
    align-self: flex-start;
    margin-top: 100px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    opacity: .6;
}

.header--figure {
    flex: 1;
    margin: 0;
}
.header--img {
    display: block;
    width: 250px;
    height: 100%;
}

.header--item {
    line-height: 2.3;
    color: #fff;
}

.header--item-icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}
